.background{
    width: 100vw;
    height: 100vh;
    background: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ModalWrapper{
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin: auto;
  z-index: 10;
  border-radius: 10px;
  }